@page "/Account/Login"
@layout AuthLayout
@inherits LoginPage
<div class="block_center">
	<div class="segment"><h1>User.Auth.SignIn</h1></div>
	@if (Error.Length > 0)
	{
		<div class="validation-message" role="alert">@Error</div>
	}
	<EditForm Model="@LoginRequest" OnValidSubmit="@HandleLoginAsync">
		<DataAnnotationsValidator />
		<ValidationMessage For="@(() => LoginRequest.Login)" />
		<label><InputText type="text" placeholder="Login" @bind-Value="LoginRequest.Login" /></label>

		<ValidationMessage For="@(() => LoginRequest.Password)" />
		<label><InputText type="password" placeholder="Password" @bind-Value="LoginRequest.Password" /></label>

		<button type="submit" class="signin">
			<div>
				<svg width="20" height="20" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
					<path fill="#777" d="M448 88v336a23.94 23.94 0 0 1-24 24h-16a23.94 23.94 0 0 1-24-24V88a23.94 23.94 0 0 1 24-24h16a23.94 23.94 0 0 1 24 24z"></path>
					<path fill="#999" d="M0 296.11V216a24 24 0 0 1 24-24h136v-88c0-17.82 21.51-26.73 34.11-14.12l152.26 152.45a19.4 19.4 0 0 1 0 27.34L194.14 422.09C181.54 434.7 160 425.79 160 408v-87.86H24a24 24 0 0 1-24-24.03z"></path>
				</svg>
				<span>&nbsp;User.Auth.SignIn</span>
			</div>
		</button>
		<p class="plink">User.AccountNo&nbsp;<NavLink class="link" href="/Account/Register">User.Auth.Register</NavLink></p>
	</EditForm>
</div>
